// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 BuildJet, Inc.
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */
#include "rv1106-amp.dtsi"

/ {
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff4c0000 console=ttyFIQ0 rootwait snd_soc_core.prealloc_buffer_size_kbytes=16 coherent_pool=0";
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <724000>;
		regulator-max-microvolt = <1078000>;
		regulator-init-microvolt = <950000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
	};

	hdmi_osc: hdmi-osc {
		compatible = "fixed-clock";
		clock-output-names = "hdmi-osc";
		clock-frequency = <27000000>;
		#clock-cells = <0>;
	};

	tc358743_codec: tc358743-codec {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dir";
		status = "okay";
	};

	i2s_hdmi_sound: i2s-hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "tc358743";
		simple-audio-card,bitclock-master = <&hdmi_codec_dai>;
		simple-audio-card,frame-master = <&hdmi_codec_dai>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_pins_hdmi_rx>;

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};

		hdmi_codec_dai: simple-audio-card,codec {
			sound-dai = <&tc358743_codec>;
		};
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_input0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&hdmiin_out0>;
				data-lanes = <1 2 3 4>;
			};

		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	tc358743: tc358743@0f {
		compatible = "toshiba,tc358743";
		status = "okay";
		reg = <0x0f>;
		clocks = <&hdmi_osc>;
		clock-names = "refclk";
		reset-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "TC358743XBG";
		rockchip,camera-module-lens-name = "NC";
		port {
			hdmiin_out0: endpoint {
				remote-endpoint = <&csi_dphy_input0>;
				data-lanes = <1 2 3 4>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <297000000>;
			};
		};
	};

};

&i2s0_8ch {
	#sound-dai-cells = <0>;
	status = "okay";
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csi_dphy_output>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&mipi_pins>;
	port {
		/* MIPI CSI-2 endpoint */
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
		};
	};
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};


&tsadc {
	status = "okay";
};

&usbdrd_dwc3 {
	/* Required for UAC1 + UVC gadget coexistence */
	tx-fifo-resize;
	status = "okay";
	dr_mode = "peripheral";
};

&crypto {
    status = "okay";
};

&pinctrl {
	i2s0 {
		i2s0_pins_hdmi_rx: i2s0-pins-hdmi-rx {
			rockchip,pins =
				/* i2s0_sclk */
				<2 RK_PA0 2 &pcfg_pull_none>,
				/* i2s0_lrck */
				<2 RK_PA1 2 &pcfg_pull_none>,
				/* i2s0_sdi0 */
				<2 RK_PA5 2 &pcfg_pull_none>;
		};
	};

	spi0 {
		/omit-if-no-ref/
		spi0m0_pins: spi0m0-pins {
			rockchip,pins =
				/* spi0_clk_m0 */
				<1 RK_PC1 4 &pcfg_pull_none>,
				/* spi_mosi_m0 */
				<1 RK_PC2 6 &pcfg_pull_none>;
		};
	};

	i2c1 {
		i2c1m0_xfer_scl_pull_up: i2c1m0_xfer_scl_pull_up {
			rockchip,pins =
				/* i2c1_scl_m0 */
				<0 RK_PA5 1 &pcfg_pull_up>,
				/* i2c1_sda_m0 */
				<0 RK_PA6 1 &pcfg_pull_none_smt>;
		};
	};
};

/ {
	model = "JetKVM";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1106";

	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <
			0   1   2   3   4   5   6   7
			8   9  10  11  12  13  14  15
			16  17  18  19  20  21  22  23
			24  25  26  27  28  29  30  31
			32  33  34  35  36  37  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <64>;
	};
};

&pwm5 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm5m1_pins>;
};

/**********FLASH**********/
&sfc {
	status = "disabled";
};

/**********ETH**********/
&gmac {
	status = "okay";
};

&gpio0 {
	status = "disabled";
};

/**********I2C**********/
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1m0_xfer_scl_pull_up>;
	pinctrl-names = "default";
	clock-frequency = <10000>;
	at24c02: at24c02@50 {
		status = "okay";
		compatible = "atmel,at24";
		reg = <0x50>;
		pagesize = <16>;
		address-width = <8>;
	};
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m0_xfer>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	ft5x06: ft5x06@38 {
		status = "okay";
		compatible = "edt,edt-ft5406";
		reg = <0x15>;
		touch-gpio = <&gpio2 RK_PA2 IRQ_TYPE_EDGE_RISING>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PA2 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio2 RK_PA3 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <240>;
		touchscreen-size-y = <300>;
		threshold = <40>;
		touch_type = <1>;
	};
};

/**********SPI**********/
&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m0_cs0 &spi0m0_pins>;

	st7789v@0 {
		status = "okay";
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <20000000>;
		fps = <30>;
		buswidth = <8>;
		dc = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;
		dc-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;
		reset = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;
	};
};

/**********UART**********/
&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};

&rtc {
	status = "okay";
};

&wdt {
	status = "okay";
};