*.o
out
tools/board/android-tools/android-tools/
tools/board/dosfstools/dosfstools-*/
tools/board/e2fsprogs/e2fsprogs-*/
tools/board/e2fsprogs/out
tools/board/eudev/eudev-*/
tools/board/eudev/kmod-*/
tools/board/exfatprogs/exfatprogs-*/
tools/board/gdb/expat-*/
tools/board/gdb/gdb-*/
tools/board/dropbear/dropbear-*/
tools/board/idb_bootconfig/
tools/board/memtester/memtester-*/
tools/board/mtd-utils/mtd-utils-*/
tools/board/mtd-utils/out
tools/board/security
tools/board/strace/strace-*/
tools/board/stressapptest/stressapptest-master
tools/board/sysstat/sysstat-*/
tools/board/toolkits/openssl/openssl-*/
tools/board/toolkits/zlib/zlib-*/
tools/board/valgrind/valgrind-*/
tools/pc/toolkits/resource_tool
util-linux-*/
source/busybox/objs_config_normal/
source/busybox/busybox-*/
